.cart-container-new {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.cart-left {
  flex: 2;
}

.cart-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 300px;
}

.cart-summary,
.cart-delivery {
  background: #f8f8f8;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.cart-card {
  display: flex;
  background: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.cart-img {
  width: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 1rem;
}

.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.qty-controls button {
  padding: 4px 10px;
}

.remove-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn {
  width: 100%;
  background: green;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.delivery-date-input {
  width: 100%;
  margin: 0.5rem 0 0.5rem;
  padding: 8px;
}
.delivery-time-input {
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
}

.cart-delivery select {
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}